@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Rubik:wght@300;400;500;600;700;800&display=swap');

:root {
    /* Header height */
    --header-height: 3rem;

    /*  Primary color */
    --hue-color: 217;

    /*  Primary color */
    --first-color: hsl(var(--hue-color), 100%, 65%);

    /*  Secondary color  */
    --first-color-second: hsl(var(--hue-color), 69%, 61%);

    /*  First color lighter  */
    --first-color-lighter: hsl(var(--hue-color), 69%, 61%);

    /*  First color lighter dark */
    --first-color-lighter-dark: hsl(var(--hue-color), 8%, 15%);

    /*  Article title color */
    --article-title-color: hsl(var(--hue-color), 38%, 34%);

    /*  Home title color */
    --home-title-color: hsl(var(--hue-color), 7%, 25%);

    /*  Home color */
    --home-section-color: hsl(var(--hue-color), 22%, 26%);

    /*  Title color */
    --title-color: hsl(var(--hue-color), 8%, 15%);

    /* Url color */
    --url-color: hsl(var(--hue-color), 8%, 15%);

    /*  Text color */
    --text-color: black;

    /*  Text color light */
    --text-light-color: hsl(var(--hue-color), 8%, 65%);

    /* Skill border */
    --skill-rating-border: 2px solid hsl(var(--hue-color), 0%, 20%);

    /* Skill container background color  */
    --skill-rating-background: hsl(var(--hue-color), 0%, 20%);

    /* Skill container border color */
    --skill-rating-border-radius: 5em;

    /* Skill progress backgroind color */
    --skill-rating-progress-background-color: hsl(var(--hue-color), 100%, 60%);

    /*  Label color  */
    --text-label-color: hsl(var(--hue-color), 16%, 41%);

    /*  Body text color */
    --body-color: #fefcfb;

    /*  Body font */
    --body-font: 'Rubik', sans-serif;

    /*  Second font */
    --second-font: 'Poppins', sans-serif;

    /* BIGGEST font size  */
    --biggest-font-size: 2.3rem;

    /* BIGGER font size  */
    --bigger-font-size: 2rem;

    /* HOME TITLE font size  */
    --home-title-font-size: 2rem;

    /* BIG font size  */
    --big-font-size: 1.7rem;

    /*  H1 font size */
    --h1-font-size: 1.4rem;

    /*  H2 font size */
    --h2-font-size: 1.3rem;

    /*  H3 font size */
    --h3-font-size: 1.1rem;

    /*  Normal font size */
    --normal-font-size: 0.9rem;

    /*  Small font size */
    --small-font-size: .813rem;

    /*  Smaller font size */
    --smaller-font-size: .75rem;

    /*  Vertical gap between items withing article (content) */
    --article-row-gap: 1em;

    /*  Horizontal gap between items withing article (content) */
    --article-column-gap: 1em;

    /* Left margin of list items */
    --list-margin-left: 2rem;

    /* Vertical gap between sections  */
    --section-gap: 5em;

    /* Label width */
    --label-width: 7em;

    /* Vertical/Horiontal gap between articles */
    --article-container-row-gap: 3em;

    /* Width of article logo */
    --article-logo-img-width: 4em;

    /* Basics gap content */
    --basics-content-gap: 1em;

    /* Basics profile image height */
    --basics-picture-img-height: 15em;

    /* Basics column gap */
    --basics-column-gap: 5em;

    /* Skill rating bar height */
    --skill-rating-height: .5em;

    /* Body padding for sm */
    --body-padding-sm: 2em;

    /* Body padding for md */
    --body-padding-md: 10em;

    /* Column width of article date */
    --article-date-width: 6em;

    /* Column width of article logo */
    --article-logo-width: 4em;

    /* Date range items gap */
    --date-gap: 0.1em;

    /* Font size of page margins */
    --print-margin-font-size: .9em;

    /* Social icons gap */
    --profiles-icon-gap: 2em;


    /*~~~~~~~~~~ z-index ~~~~~~~~~~*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

    /*~~~~~~~~~~ responsive dimensions ~~~~~~~~~~*/
    --dim-xs: 0;
    --dim-sm: 576px;
    --dim-md: 768px;
    --dim-lg: 992px;
    --dim-xl: 1200px;
    --dim-xxl: 1400px;

    /*~~~~~~~~~~ font weight ~~~~~~~~~~*/
    --font-500: 500;
    --font-600: 600;
    --font-700: 700;
    --font-800: 800;
}

/*======================================== BASE ========================================*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    background-color: var(--body-color);
    color: var(--content-text-color);
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
    overflow-x: hidden;
}

.counter-reset {
    counter-reset: page 1;
}

::-moz-selection {
    background: hsl(var(--hue-color), 50%, 80%);
    color: white;
}

::selection {
    background: hsl(var(--hue-color), 50%, 80%);
    color: white;
}

h1, h2, h3, ul, p {
    margin: 0;
}

h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-600);
}

h4 {
    font-weight: var(--font-600);
    font-size: var(--h1-font-size);
    color: var(--text-light-color);
    margin: var(--1rem-5) 0 0;
}

ul {
    display: grid;
    gap: .2rem;
    padding: 0;
    margin: .3rem 0 .5rem var(--list-margin-left);
}

li {
    margin: 0;
    list-style: circle;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: var(--content-text-color);
    text-decoration: none;
}


.avoid-break-inside {
    display: block !important;
    /* never user flex with page-break */
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

.avoid-break-inside-column {
    display: block !important;
    /* never user flex with page-break */
    -webkit-column-break-inside: avoid-column;
    page-break-inside: avoid-column;
    break-inside: avoid-column;
}

/*======================================== LAYOUT ========================================*/
.main {
    background-image: linear-gradient(112.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%, rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%, rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%, rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%, rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%, rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%, rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%), linear-gradient(157.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%, rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%, rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%, rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%, rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%, rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%, rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%), linear-gradient(135deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%, rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%, rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%, rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%, rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%, rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%, rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%), linear-gradient(90deg, rgb(195, 195, 195), rgb(228, 228, 228));
    background-blend-mode: overlay, overlay, overlay, normal;
}

.section {
    padding: 2rem 0 4rem;
}

header {
    position: relative;
    font-size: var(--big-font-size);
    color: var(--article-title-color);
    font-weight: var(--font-600);
    text-transform: uppercase;
    margin-bottom: 2rem;
}

header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--article-title-color);
    bottom: -.2rem;
    left: 0;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.container {
    max-width: 968px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.grid {
    display: -ms-grid;
    display: grid;
    gap: 2rem;
}

/*======================================== ARTICLE ========================================*/
.article-container {
    gap: var(--article-container-row-gap);
}

.with-header-date-logo,
.with-header-date {
    gap: var(--article-row-gap);
}

.article-content {
    gap: var(--article-row-gap);
}

.article__date .date {
    display: flex;
    align-items: center;
    column-gap: var(--date-gap);
}

.with-header-date-logo .article-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.article__title {
    font-weight: var(--font-600);
    font-size: var(--h2-font-size);
    color: black;
}

.article__subtitle {
    font-size: var(--h3-font-size);
    font-weight: var(--font-500);
    color: var(--home-title-color);
    margin-bottom: .2rem;
}

.article__img {
    width: var(--article-logo-img-width);
}

.article__description {
    margin-bottom: 1rem;
}

.article__position {
    font-size: var(--h3-font-size);
    font-weight: var(--font-500);
}

.article__gpa {
    margin-bottom: .5rem;
}

.article__list .list__label {
    display: block;
    color: var(--text-label-color);
    font-size: var(--normal-font-size);
    font-weight: var(--font-500);
    margin-top: .5rem;
}

.article__list ul {
    flex-grow: 1;
}

.article__url {
    color: var(--url-color);
}

/*======================================== CUSTOM ========================================*/
/* AWARDS */
.a-url {
    font-size: var(--small-font-size);
}

.article__list.skills ul {
    display: initial;
    margin-top: .2rem;
}

.article__list.skills li {
    list-style: none;
    display: inline;
}

.article__list.skills li:not(:empty, :last-child):after {
    content: ", ";
}

.r-c {
    gap: 1rem;
}

.c-h {
    gap: .3rem;
}

/* LANGUAGES + INTEREST */
.l-c,
.i-c {
    gap: 1rem;
}

/* SKILLS */
.s-c {
    margin-top: 1rem;
    gap: .75rem;
}

.skills__progress {
    gap: .25rem;
}

.article__skills-title {
    font-weight: var(--font-500);
}

.skill-rating {
    -webkit-print-color-adjust: exact;
    height: var(--skill-rating-height);
    background: hsl(var(--hue-color), 100%, 87%);

    overflow: hidden;
    border-radius: var(--skill-rating-border-radius);
    -moz-border-radius: var(--skill-rating-border-radius);
    -webkit-border-radius: var(--skill-rating-border-radius);
    -ms-border-radius: var(--skill-rating-border-radius);
    -o-border-radius: var(--skill-rating-border-radius);
}

.skill-rating>div {
    height: 100%;
    border-radius: var(--skill-rating-border-radius);
    background-color: var(--first-color-second);
}

/*======================================== HOME ========================================*/
.basics {
    /* background-color: var(--home-section-color); */
    background-image: radial-gradient(circle at 20% 14%, rgba(27, 27, 27, 0.021) 0%, rgba(27, 27, 27, 0.041) 50%, rgba(126, 126, 126, 0.05) 50%, rgba(126, 126, 126, 0.05) 100%), radial-gradient(circle at 18% 51%, rgba(248, 248, 248, 0.05) 0%, rgba(248, 248, 248, 0.05) 50%, rgba(26, 26, 26, 0.05) 50%, rgba(26, 26, 26, 0.05) 100%), radial-gradient(circle at 29% 38%, rgba(160, 160, 160, 0.05) 0%, rgba(160, 160, 160, 0.05) 50%, rgba(212, 212, 212, 0.05) 50%, rgba(212, 212, 212, 0.05) 100%), linear-gradient(90deg, rgba(35, 119, 255, 0), rgba(132, 148, 173, 0.171));
    overflow: hidden !important;
}

.basics header {
    display: none;
    user-select: none;
}

.home__img {
    display: block;
    margin: 0 auto;
    width: var(--basics-picture-img-height);
    border-radius: .2rem;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    -ms-border-radius: .2rem;
    -o-border-radius: .2rem;
}

.home__title {
    font-size: var(--home-title-font-size);
    font-weight: var(--font-700);
}

.home__subtitle {
    font-size: var(--h3-font-size);
}

.home__title,
.home__subtitle {
    text-align: center;
}

.home__title,
.home__subtitle,
.home__container {
    color: black;
}

.home__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    gap: .2rem;
}

.home__info {
    display: flex;
    column-gap: .5rem;
}

/*======================================== PROFILES ========================================*/
.profiles .article-container {
    flex-direction: row;
    display: flex;
    gap: var(--profiles-icon-gap);
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: center;
}

.profiles .icon {
    font-size: 1.5em;
    color: var(--first-color-lighter);
}

/*======================================== SKILLS ========================================*/
.skills .article-container .skill-item>* {
    margin-bottom: 0.5em;
}

.skills .article-container .skill-item>*:last-child {
    margin-bottom: 0;
}

.skills .article-container .article__title {
    display: flex;
    flex-direction: column;
    gap: var(--article-row-gap);
}

/*======================================== ICONS ========================================*/
.icon {
    font-style: normal;
    margin-right: 0;
    color: var(--icon-color);
}

.icon.twitter:before {
    content: "\f099";
}

.icon.github:before {
    content: "\f09b";
}

.icon.facebook:before {
    content: "\f39e";
}

.icon.instagram:before {
    content: "\f16d";
}

.icon.xing:before {
    content: "\f168";
}

.icon.behance:before {
    content: "\f39e";
}

.icon.dribbble:before {
    content: "\f17d";
}

.icon.medium:before {
    content: "\f23a";
}

.icon.linkedin:before {
    content: "\f08c";
}

/* ========== SCROLL-BAR ========== */

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
}

/* SCROLLBAR THUMB */
::-webkit-scrollbar-thumb {
    background: hsl(216, 51%, 28%);
    border-radius: 10px;
}

/* SCROLLBAR TRACK */
::-webkit-scrollbar-track {
    background: transparent;
}

/* SCROLLBAR THUMB : HOVER */
::-webkit-scrollbar-thumb:hover {
    background: hsl(216, 41%, 38%);
}

/*======================================== PLATFORM ========================================*/
/*~~~~~~~~~~~~~ screen ~~~~~~~~~~~~~*/
@media screen {
    .margin-box {
        display: none;
    }

    body {
        line-height: var(--layout-default-line-height);
        margin: 0;
    }

    .article-container.two-column article {
        margin-bottom: var(--article-row-gap);
    }
}

/*~~~~~~~~~~~~~ DESKTOP ~~~~~~~~~~~~~*/
@media screen and (min-width: 992px) {
    :root {
        --biggest-font-size: 4.5rem;
        --bigger-font-size: 3rem;
        --big-font-size: 2.3rem;
        --home-title-font-size: 3rem;
        --h1-font-size: 1.85rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }

    .container {
        margin-left: auto;
        margin-right: auto;
    }
}

:is(.publications, .references, .certifications, .skills, .awards, .interests, .languages) .article-container {
    grid-template-columns: repeat(2, 1fr);
}

/*~~~~~~~~~~~~~ > TABLETS + DESKTOP & PRINT ~~~~~~~~~~~~~*/
@media print, screen and (min-width: 768px) {
    canvas {
        position: absolute;
        width: 100vw;
        max-height: 1229px !important;
        height: 576px !important;
        top: 0;
    }

    .home__img {
        margin-top: 2rem;
    }

    .article__date {
        width: 100px;
        font-size: var(--smaller-font-size);
    }

    .article__date .date {
        flex-direction: column;
    }

    .date .startDate {
        order: 1;
    }

    .date .endDate {
        order: -1;
    }

    .article__date .duration {
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
        -webkit-print-color-adjust: exact;
        text-align: center;
        font-size: var(--small-font-size);
        border-radius: 0.3em;
        color: white;
        background-color: var(--first-color-lighter-dark);
        margin: 0.5em;
        padding: 0.5em;
    }

    .article-wrapper {
        display: flex;
        align-items: flex-start;
        column-gap: 2rem;
    }

    .article-header {
        width: 80%;
    }

    .article-content,
    .r-ml,
    .m-l {
        /* 100px (.article__date) + 2rem (column-gap of .article-wrapper) */
        margin-left: calc(100px + 2rem);
    }

    .no-m {
        margin-left: 0;
    }

    .article-container .article__list label {
        min-width: var(--label-width);
    }
}

/*~~~~~~~~~~~~~ print ~~~~~~~~~~~~~*/
@media print {
    .main {
        background-image: none;
        background-blend-mode: normal;
    }

    .profiles,
    .basics {
        display: none;
        user-select: none;
    }

    .pagedjs_margin {
        font-size: var(--print-margin-font-size);
    }

    /* main margin boxes */
    .footer-print {
        position: running(footerRunning);
    }

    .user-compact-print {
        position: running(userCompactRunning);
    }

    .last-update-print {
        position: running(lastUpdateRunning);
    }

    .available-from-print {
        position: running(availableFromRunning);
    }

    @page {
        size: A4;

        @top-right {
            content: element(lastUpdateRunning);
        }

        @top-left {
            content: element(userCompactRunning);
        }

        @bottom-right {
            content: counter(page);
        }

        @bottom-left {
            content: element(footerRunning);
            width: 40mm;
        }

        @bottom-center {
            content: element(availableFromRunning);
        }
    }

    /* table of contents */
    @page table-of-contents {
        @top-right {
            content: none;
        }

        @top-left {
            content: none;
        }

        @bottom-right {
            content: none;
        }

        @bottom-left {
            content: none;
        }
    }

    .table-of-contents {
        page: table-of-contents;
    }

    .toc-header {
        margin-bottom: 1rem;
        border-bottom: 0.375rem solid black;
    }

    ol, ul {
        padding-inline-start: 0;
    }

    ol, ul a {
        text-decoration: none;
    }

    .toc-element-level-1 {
        font-size: 0.5cm;
    }

    .toc-element-level-2 {
        font-size: 0.4cm;
    }

    .toc-element-level-1 a, .toc-element-level-2 a {
        color: black;
    }

    #list-toc-generated li {
        margin-left: 0;
        width: 100%;
        list-style-type: none;
    }

    #list-toc-generated .toc-element a::after {
        content: target-counter(attr(href), page);
    }

    #list-toc-generated .toc-element-level-1 {
        border-bottom: 0.0625rem solid black;
        margin-top: 2rem;
        margin-bottom: 1rem;
        padding-bottom: 0.5rem;
        font-weight: bold;
    }

    #list-toc-generated {
        overflow-x: hidden;
    }

    #list-toc-generated .toc-element a {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    #list-toc-generated .toc-element a::after {
        background-color: white;
    }

    .page-break {
        break-after: page;
    }

    /* cover */
    @page: first {

        @top-right {
            content: none;
        }

        @top-left {
            content: none;
        }

        @bottom-right {
            content: none;
        }

        @bottom-left {
            content: none;
        }
    }

    .cover-page .main-skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4mm;
    }

    .cover-page .main-skills ul {
        display: flex;
        flex-direction: row;
        gap: 0.5cm;
        margin: 0;
        padding: 0;
    }

    .cover-page .main-skills .list__label {
        font-size: var(--big-font-size);
        text-align: center;
        font-weight: var(--font-600);
    }

    .cover-page .main-skills li {
        list-style-type: none;
        margin: 0;
        padding: 0;
        font-size: var(--normal-font-size);
    }

    .cover-page {
        page: cover-page;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        gap: 2cm;
        font-family: var(--second-font);
    }

    .cover-page__main-skills {
        display: flex;
        flex-direction: row;
    }

    .cover-page h1 {
        font-size: var(--biggest-font-size);
        font-family: var(--body-font);
    }

    .cover-page h3 {
        margin: -.75rem 0 .5rem;
        font-weight: var(--font-500);
    }

    .cover-page .cover-page__contact {
        font-size: var(--normal-font-size);
    }

    .cover-page h1,
    .cover-page h3,
    .cover-page p,
    .cover-page .article__list,
    .cover-page .cover-page__contact,
    .cover-page .article__url,
    .cover-page__social .icon {
        -webkit-print-color-adjust: exact;
        color: black !important;
    }

    .cover-page .bg-color {
        position: absolute;
        width: 2480px;
        height: 3508px;
        -webkit-print-color-adjust: exact;
        background-image: radial-gradient(circle at 20% 14%, rgba(27, 27, 27, 0.05) 0%, rgba(27, 27, 27, 0.05) 50%, rgba(126, 126, 126, 0.05) 50%, rgba(126, 126, 126, 0.05) 100%), radial-gradient(circle at 18% 51%, rgba(248, 248, 248, 0.05) 0%, rgba(248, 248, 248, 0.05) 50%, rgba(26, 26, 26, 0.05) 50%, rgba(26, 26, 26, 0.05) 100%), radial-gradient(circle at 29% 38%, rgba(160, 160, 160, 0.05) 0%, rgba(160, 160, 160, 0.05) 50%, rgba(212, 212, 212, 0.05) 50%, rgba(212, 212, 212, 0.05) 100%), linear-gradient(90deg, rgb(35, 119, 255), rgb(132, 148, 173));
        /* background: url('https://i.ibb.co/xHMGz4W/bg1.jpg'); */
        /* background: url('https://i.ibb.co/nLM1V6W/bg2.jpg'); */
        /* background-position: left;
        background-repeat: no-repeat;
        background-size: cover; */
        opacity: .3;
        z-index: -11;
    }

    .cover-page .picture {
        text-align: center;
    }

    .cover-page__header {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 3mm;
    }

    .cover-page__header .picture img {
        width: 10cm;
        height: auto;
        border-radius: 50%;
    }

    .cover-page__contact {
        font-size: 10pt;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.7cm;
        margin-top: 1rem;
    }

    .cover-page__social {
        display: flex;
        flex-direction: row;
        gap: 2em;
    }

    .cover-page__social .icon {
        font-size: 16pt;
    }

    .cover-page__header .summary {
        text-align: center;
        margin-top: 0.5em;
    }

    /* availability */
    .available-from-print .icon {
        margin-top: 1.5mm;
        margin-left: 1.5mm;
        font-size: 2mm;
        position: absolute;
    }

    .available-from-print.now-available-yes i {
        color: green;
    }

    .available-from-print.now-available-no i {
        color: red;
    }
}

/*======================================== INTERACTIVE ========================================*/
/* .INTERACTIVE .nav-add {
    margin-top: 1em;
    margin-bottom: 2em;
}

.INTERACTIVE .profiles article {
    padding: 2em 0;
}

.INTERACTIVE .profiles .article-container {
    display: flex;
    flex-direction: column;
}

html:not(.INTERACTIVE) .profiles article .profile-item {
    display: inline-block;
} */